[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipython = "*"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
scrapy = "*"
requests = "*"
pandas = "*"

[requires]
python_version = "3.7"

[scripts]
ingest = "./jobs/full_ingest.sh"
